:root {
    --projectBodyColor: rgb(58, 58, 58);
}

.projectcontainer{
    margin: 50px 0px 50px 0px;
    display: grid;
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 70px 5fr 70px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.082);
    grid-template-areas:'projectimg projectheader'
                        'projectimg projectinfo'
                        'projectimg projectfooter';
}


.projectimg {
    grid-area: projectimg;
    justify-self: center;
    align-self: center;
   
    
}



.projectimg img {
    max-width:100%;
    max-height:100%;
    width: auto; 
    height: auto;

}
.projectheader {
    border-top-left-radius: 10px;
    margin-left: -6px;
    box-sizing: border-box;
    grid-area: projectheader;
    font-size: 30px;
    padding:  20px 20px 10px 30px;
    background-color: var(--projectBodyColor);
    color: white;
}
.projectinfo {
    grid-area: projectinfo;
    padding:  10px 30px 10px 30px;
    background-color: var(--projectBodyColor);
    margin-left: -6px;

    color: white;

}
.projectfooter {
    border-bottom-left-radius: 10px;
    margin-left: -6px;
    grid-area: projectfooter;
    padding:  0px 30px 20px 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--projectBodyColor);

    color: white
}
.githubicon {
    font-size: 25px;
}

.githubicon:hover {
    transform: scale(1.1);
}