.calculator{
    width: 320px;
    background-color: #f5f7fa;
    padding: 10px;
    border-radius: 10px;
    
}

.display {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 18px;
    width: 100%;
    height: 120px;
    justify-content: center;
    background-color: #404148;
    color: white;
    text-align: end;
    overflow: hidden;
    overflow-x: auto;

}

h1 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    font-weight: lighter;

}

h2 {
    font-size: 18px;
    padding: 0px;
    margin: 10px;
    font-weight: lighter;
}

.keyboard {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
}



.button {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d576b;
    border-radius: 10px;

    
    flex-basis: 23%;
    flex-grow: 1;
    height: 20%;
    
    cursor: pointer;
    font-size: 25px;
    font-weight:lighter;
    color: rgb(247, 247, 247);
}

.button:last-child, .button:first-child{
    flex-grow: 2;
    background-color: #ed6a5a;
}
