* {
    box-sizing: border-box;
}
.contaccontainer{
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0px 60px 0px;
}
.contactbox {
    width: 480px;
    min-width: 480px;
    height: 100px;
    margin: 12px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'contacicon contactcontent';

}

.contacticon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: contacicon;
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 40px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.041);

}
.contactcontent {
    margin-left: -10px;

    font-size: 20px;
    display: flex;
    align-items: center;

    padding: 20px;
    grid-area: contactcontent;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.041);


}