.title{
    font-size: 56px;
}

.subtitle{
    font-size: 38px;
}
.text {
    font-size: 20px;
}



.codecontainer {
    border: 1px solid rgba(0, 0, 0, 0.137);
    width: 100%;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}