.imgcontainer{
    background-color: #a3a3a327;
    width: calc(100% + 200px);
    max-height: 600px;
    min-height: 200px;
    margin: 60px -100px 60px -100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgcontainer > img{
    background-color: rgb(112, 72, 72);
    padding: 0px 12px 0px 12px;
    /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.233); */

}
